# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.EssenceDrainContagion.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\projects\ExileApi\Plugins\Source\EssenceDrainContagion\.idea\.idea.EssenceDrainContagion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
